@use "../scss/index" as *;

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 2rem;
  background-color: #fff;
  .inputCase {
    background-color: $white;
    padding: 1rem;
    height: 45px;
    padding-left: 1em;
    margin-bottom: 1em;
    border: 1px solid $main-color;
    width: 100%;
    max-width: 600px;
    user-select: text;
    border-radius: 10px;
  }
  .select {
    background-color: $white;
    padding-left: 1rem;
    height: 45px;
    border: 1px solid $main-color;

    margin-bottom: 1em;
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
  }
  textarea {
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    padding-left: 1em;
    margin-bottom: 1em;
    border: 1px solid $main-color;
    width: 100%;
    max-width: 600px;
    height: 130px;
    user-select: text;
  }
  .btn {
    cursor: pointer;
    background-color: $alt-color;
    padding: 0.75rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-weight: 500;
    border-radius: 64px;
    width: 200px;
    color: #fff;
    display: inline-block;
    &:hover {
      background-color: $main-color;
    }
  }
}

.successMsg {
  margin-top: 1.2rem;
  font-weight: 500;
  color: $alt-color;
}
