@import "../scss/_colors.module.scss";
@import "../scss/mixins";

.Footer {
  background-color: $dark-background;
  color: $white;
  padding: 1rem;
  text-align: center;
  font-size: 1rem;

  @include breakpoints(mobile) {
    font-size: 0.8rem;
  }
}
