@import "../scss/_colors.module.scss";

.Infos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 1rem;
  text-align: center;
  background-color: #f8f8f8;
  .wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1080px;

    .item {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin: 1rem;
      @media only screen and (max-width: 768px) {
        width: 100%;
      }
    }

    p {
      font-size: 1.2rem;
      font-weight: 500;
    }

    h2 {
      font-weight: 500;
    }

    .icon {
      color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 4rem;
      width: 4rem;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      padding: 1rem;
      background-color: $dark-background;
      font-size: 2rem;
      margin-bottom: 1rem;
    }
  }
}
