@import "../scss/_colors.module.scss";
@import "../scss/mixins";

.secteurCard {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: $white;
  text-align: center;

  &:hover {
    transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    cursor: pointer;
  }

  @include breakpoints(mobile) {
    &:hover {
      transform: none;
    }
  }

  .image {
    border-radius: 10px 10px 0 0;
    aspect-ratio: 16 / 9;
    width: 320px;
    height: 180px;
    object-fit: cover;
  }

  .title {
    overflow: hidden;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 1rem;
  }
}
