@use "../scss/index" as *;

.reservastionForm {
  @extend .center-vertically;
  padding: 3rem 1rem;
  text-align: center;
  h2 {
    font-size: 3rem;
    color: $main-color;

    @include breakpoints(mobile) {
      font-size: 2rem;
    }
  }

  p {
    font-size: 1.2rem;
  }
}
